/********************ͷ头部*****************************************/
.header{
    width:100%;
    height:80px;
    background:rgba(0,0,0,.8);
    display:flex;
}
.header>.header-1{
    height:80px;
    line-height:80px;
    width:200px;
    margin-left:365px;
    background:url(../img/logo.png) no-repeat;
    background-size:40px 40px;
    background-position:5px 20px;
}
.header>.header-1>a{
    display:inline-block;
    width:150px;
    height:80px;
    margin-left:20px;
    line-height:80px;
    text-align:right;
    font-size:25px;
    color:#fff;
}
.header>.header-u1{
    display:flex;
    height:80px;
    line-height:80px;
}
.header>.header-u1>li{
    width:100px;
    text-align:center;
    margin:0;
}
.header>.header-u1>li:hover{
    background:rgba(0,0,0,.9)
}
.header>.header-u1>li>a{
    font-size:16px;
    margin:0 15px;

    color:#fff;
}
.header>.header-2{
    width:170px;
    height:32px;
    border-radius:17px;
    margin-left:50px;
    margin-top:22px;
    border:1px solid #000;
    text-align:right;
    background:#FFFCFF url(../img/search.png) no-repeat;
    background-size:30px 32px;
    background-position:2px 0;
}
.header>.header-2>.header-2-1{
    width:130px;
    height:30px;
    border-radius:17px;
    margin-left:30px;
    font-size:13px;
    border:0;
    outline:none;
}
.header>.header-3{
    display:inline-block;
    font-size:15px;
    width:100px;
    height:30px;
    line-height:30px;
    border:1px solid gray;
    color:gray;
    border-radius:17px;
    text-indent:30px;
    margin-left:20px;
    margin-top:22px;
    background:url(../img/header-1.png) no-repeat;
    background-size:20px 20px;
    background-position:5px 5px;
}
.header>.header-3>a{
    font-size:15px;
    color:#fff;
}
.header>.header-u2{
    width:120px;
    height:18px;
    margin-left:20px;
    margin-top:30px;
    font-size:16px;
    z-index:200;
    overflow:hidden;
    transition:all 0.5s linear;
}
.header>.header-u2>li{
    margin:0;
    height:40px;
    line-height:40px;
    background:gray;
    opacity:0.8;
}
.header>.header-u2>li>a{
    color:#000;
    font-size:13px;
}
.header>.header-u2:hover{
    height:220px;
}
/*****主体*********************************/
.main{
    background: #fff;
}
.main>.main-d1{
    width: 100%;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}
.main>.main-d1>.main-d1-m{
    width: 20%;
    height: 230px;
    margin-left: 50px;
}
.main>.main-d1>.main-d1-d1{
    width: 68%;
    height: 230px;
    margin-left: 50px;
}
.main>.main-d1>.main-d1-d1>div{
    width: 98%;
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    border-bottom: 1px solid #000;
}
.main>.main-d1>.main-d1-d1>div>span:nth-child(1){
    display: inline-block;
    width: 130px;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    text-align: left;
    margin-left: 20px;
}
.main>.main-d1>.main-d1-d1>div>span:nth-child(2){
    display: inline-block;
    height:25px;
    line-height: 25px;
    font-size: 15px;
    color:red;
    font-weight: bold;
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    margin-left: 20px;
}
.main>.main-d1>.main-d1-d1>div>a{
    display: inline-block;
    text-align: center;
    height: 25px;
    line-height: 25px;
    width:100px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 12px;
    color:#313031;
    margin-left:300px;
}
.main>.main-d2{
    width: 92%;
    height:40px ;
    border-bottom: 2px solid red;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
}
.main>.main-d3{
    width: 92%;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.8;
}
.main>.main-d3>div{
    width: 100%;
    height: 45px;
}
.main>.main-d3>div>img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.main>.main-d3>div>span{
    display: inline-block;
    height: 30px;
    width: 230px;
    line-height: 30px;
    margin-left: 30px;
    color: #000;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: 10px;
}
.main>.main-d3>div>audio{
    width: 50%;
    margin-left: 40px;
    position: relative;
    top: 10px;
}
.main>.main-d3>div>a{
    display: inline-block;
    background: #666666;
    color: #000;
    margin-left: 40px;
    font-size: 15px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    transition: all .3s linear;
}
.main>.main-d3>div>a:hover{
    background: #918888;
}
.main-d4{
    border: 1px solid #000;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #bfbfbf;
    border-radius: 5px;
    position: fixed;
    left: 850px;
    top: 380px;
    z-index: 100;
    display: none;
}
.main-d4>.main-d4-a1{
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    background: #b1aaaa;
    text-align: center;
    color: #000;
    border-radius: 5px;
}
.main-d4>.main-d4-a1:hover{
    background: #666666;
}
/**************************尾部********************************/
.footer-d{
    height:100px;
    margin-top:20px;
    position:relative;
    top:10px;
    left:10px;
    background:#E7E7E9;
    padding-top:50px;
}
.footer-d>a{
    font-size:12px;
    color:#666;
}
.footer-d>p{
    font-size:12px;
    font-weight:bold;
    color:#666;
    margin-top:10px;
}
.footer-d>.footer-u{
    display:flex;
    width:300px;
    position:relative;
    left:650px;
}
.footer-d>.footer-u li{
    width:80px;
}
.footer-d>.footer-u li a{
    color:#666;
}